<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th style="text-align: end;">Name: </th>
            <th style="text-align: start;">{{name}}</th>
        </tr>
        <tr>
            <th style="text-align: end;">Roll_no: </th>
            <th style="text-align: start;">{{roll_no}}</th>
        </tr>
        <tr>
            <th style="text-align: end;">Subjects: </th>
            <th style="text-align: start;">{{subject}}</th>
        </tr>
    </table>
    <br>
    <form action="first_page">
        <input type="submit" value="home">
    </form>
</body>
</html>