<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Document</title> 
</head> 
<body> 
<form action="selection"> 
<label for="items">choose an id:</label> 
<select id="items" name="emid"> 
<option value="item1">180905452</option> 
<option value="item2">180905462</option> 
<option value="item3">180905074</option> 
<option value="item4">180905093</option> 
<option value="item5">180906418</option> 
</select><br> 
Enter the Date of Joining: <input type="date" id = "doj" name="doj"><br> 
<input type="submit" value="submit"><br> 
</form> 
</body> 
</html> 
