<html lang="en">
    <head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>author</title>
    </head>
    <body style="background-image:
    url('https://rickriordan.com/content/uploads/2016/05/Heroes-of-Olympus-Banner-resized.jpg');background-size:
    1000px;">
       <a href="{% url 'home' %}" style="font-size: 20px;">home</a><br>
       <h1>About author</h1><br>
       <pre style="font-size: 15px;">
        Richard Russell Riordan Jr. is an American author. 
        He is known for writing the Percy Jackson & the Olympians series, about a teenager named Percy Jackson who discovers 
        he is a son of the Greek god Poseidon. Riordan's books have been translated into forty-two languages and sold more 
        than thirty million copies in the US.[2] 20th Century Fox adapted the first two books of his Percy Jackson series as 
        part of a series of films. His books have spawned related media, such as graphic novels and short story collections.
    </pre>
    </body>
    </html>
    