<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body style="background-image:
url('https://rickriordan.com/content/uploads/2016/05/Heroes-of-Olympus-Banner-resized.jpg');background-size:
1000px;">
   <table style="font-size: 20px;margin: 0px 10px;">
       <tr>
           <th><a href="{% url 'metaData' %}">metadata</a></th>
           <th><a href="{% url 'review' %}">review</a></th>
           <th><a href="{% url 'author' %}">author info</a></th>
       </tr>
   </table>
   <br>
   <h1 style="color: white;">Overview</h1><br>
   <p style="color: white;">
    The Heroes of Olympus is a pentalogy of fantasy-adventure novels written by American author Rick Riordan. 
    The novels detail a conflict between Greek demigods, Roman demigods, and Gaea (Roman name Terra) also known as Mother Earth. 
    In the fourth book of the series, there is also a semi-large fight against Tartarus, which, in Greek mythology, was the darkest and deepest point of the underworld. 
    The series is a sequel to Percy Jackson & the Olympians, which detailed the life of modern-day Greek demigods. 
    The sequel to this series, and the 3rd series in the trilogy is The Trials of Apollo. 
    Riordan introduces Roman mythology in his sequel series as well as several new characters. 
    The first book of the series, The Lost Hero, was published on October 12, 2010. 
    The final entry in the series, The Blood of Olympus, was published on October 7, 2014.
</p>
</body>
</html>