<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>meta data</title>
</head>
<body style="background-image:
url('https://rickriordan.com/content/uploads/2016/05/Heroes-of-Olympus-Banner-resized.jpg');background-size:
1000px;">
   <a href="{% url 'home' %}" style="font-size: 20px;">home</a><br>
   <h1 style="color: white;">meta data</h1>
<p style="color: white;">
<br>
Cover artist	John Rocco
Country	United States
Language	English
Genre	Fantasy, young adult fiction, mystery, adventure, Greek and Roman mythological fiction
Publisher	Disney Hyperion (US)
Penguin Books/Puffin (UK, AU, NZ)
Published	2010–2014
Media type	Print (hardcover and paperback), audiobook, e-book
No. of books	5
   </p>
</body>
</html>
