<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>review</title>
</head>
<body style="background-image:
url('https://rickriordan.com/content/uploads/2016/05/Heroes-of-Olympus-Banner-resized.jpg');background-size:
1000px;">
   <a href="{% url 'home' %}" style="font-size: 20px;">home</a><br>
   <h1 style="color: white;">Review</h1>
   <pre style="color: white;font-size: 15px;">
    The Lost Hero won the Barnes & Noble Best Book of 2010 award and was a Massachusetts Children's Book Award Honor book for 2014, among other honors.
    Rick Riordan was named "Author of the Year" for the novel at the 2011 Children's Choice Awards.
    The book was also recommended by the ALA Best Fiction for Young Adults list of 2012.
</pre>
</body>
</html>