<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="search" method="POST">
        {% csrf_token %}
        {{form}}
        <br>
        <input type="submit" value="search">
    </form><br>
    <table>
        <thead>
            <td>name</td>
            <td>city</td>
        </thead>
        {% for employee in employees %}
        <tr>
            <td>{{employee.name}}</td>
            <td>{{employee.city}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home' %}">Go back to home</a>
</body>
</html> 