<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Entry</title>
</head>
<body>
    <h1>Book Registration:</h1>
    <form action="bookEntry" method="POST">
        {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value=register>
    </form>
    <a href="{% url 'home' %}">Go back to home</a>
</body>
</html>