<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <a href="{% url 'publisherEntry' %}">Register a publisher</a><br>
    <a href="{% url 'authorEntry' %}">Register a author</a><br>
    <a href="{% url 'bookEntry' %}">Register a book</a><br>
    <a href="{% url 'searchBook' %}">Search for a book</a><br>
    <a href="{% url 'searchAuthor' %}">Search for a author</a><br>
    <a href="{% url 'searchPublisher' %}">Search for a publisher</a>
</body>
</html>